<%content_for :breadcrumb do%>
<ul class="breadcrumb">
  <li><%=link_to t(:home), root_path%><span class="divider">/</span></li>
  <%if can? :index, Iph Crime %>
  <li class="active"><%=link_to t(:index), iph_crimes_path %><span class="divider">/</span></li>
  <%end%>
  <%if can? :new, Iph Crime %>
  <li class="active"><%=link_to t(:new), new_iph_crime_path%></li>
  <%end%>
</ul>
<%end%>


<div class="well">
  <table class="table">
    <thead>
      <tr>
                  <th><%= t'.id' %></th>
                  <th><%= t'.concept' %></th>
                <th><%= t(:actions) %></th>
      </tr>
    </thead>
    <tbody>
      <% @iph_crimes.each do |iph_crime| %>
      <tr>
                  <td><%= iph_crime.id %></td>
                  <td><%= iph_crime.concept %></td>
                <td>         
          <ul class="nav nav-pills">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu">
                <li>
                  <%if can? :show, Iph Crime %>
                  <%= link_to iph_crime do %>
                  <i class="icon-eye-open"></i>&nbsp;&nbsp;<%=t(:show, :default => t("helpers.links.show"))%> 
                  <%end%>
                </li>
                <%end%>
                <%if can? :edit, Iph Crime %>
                <li>
                  <%= link_to edit_iph_crime_path(iph_crime) do %>
                  <i class="icon-pencil"></i>&nbsp;&nbsp;<%=t(:edit, :default => t("helpers.links.edit"))%>
                  <%end%>
                </li>
                <%end%>
                <%if can? :destroy, Iph Crime %>
                <li>
                  <%= link_to  iph_crime, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                  <i class="icon-trash"></i>&nbsp;&nbsp;<%=t(:destroy, :default => t("helpers.links.destroy"))%>
                  <%end%>
                </li>
                <%end%>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />
<%=link_to t(:new)+" iph_crime", new_iph_crime_path, :class => "btn btn-primary"%>

