<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), root_path%><span class="divider">/</span></li>
    <%if can? :index, IphWeapon %>
      <li class="active"><%=link_to t(:index), iph_weapons_path %><span class="divider">/</span></li>
    <%end%>
    <%if can? :new, IphWeapon %>
      <li class="active"><%=link_to t(:new), new_iph_weapon_path%></li>
    <%end%>
  </ul>
<%end%>


<div class="row-fluid">
  <div class="block ">
    <a href="#client-info" class="block-heading" data-toggle="collapse"><%= t(:general_information) %></a>
    <div id="client-info" class="block-body collapse in show-details">
      <p>
        <b><%= t'.id' %>:</b>
        <%= @iph_weapon.id %>
      </p>
      <p>
        <b><%= t'.brand' %>:</b>
        <%= @iph_weapon.brand %>
      </p>
      <p>
        <b><%= t'.model' %>:</b>
        <%= @iph_weapon.model %>
      </p>
      <p>
        <b><%= t'.serial_number' %>:</b>
        <%= @iph_weapon.serial_number %>
      </p>
      <p>
        <b><%= t'.weapon' %>:</b>
        <%= @iph_weapon.weapon %>
      </p>
      <p>
        <b><%= t'.caliber' %>:</b>
        <%= @iph_weapon.caliber %>
      </p>
      <p>
        <b><%= t'.weapon_type' %>:</b>
        <%= @iph_weapon.weapon_type_id %>
      </p>
    </div>
  </div>
</div>

<div class="form-actions">
  <%if can? :index, IphWeapon %>
    <%= link_to t(:back, :default => t('helpers.links.back')), iph_weapons_path, :class => 'btn' %>
  <%end%>
  <%if can? :edit, IphWeapon %>
    <%= link_to t(:edit, :default => t('helpers.links.edit')), edit_iph_weapon_path(@iph_weapon), :class => 'btn' %>
  <%end%>
  <%if can? :destroy, IphWeapon %>
    <%= link_to t(:destroy, :default => t("helpers.links.destroy")), iph_weapon_path(@iph_weapon),
      :method => 'delete',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>
  <%end%>
  <%if can? :new, IphWeapon %>
    <%= link_to t(:new, :default => t('helpers.links.edit')), new_iph_weapon_path, :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
</div>