<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), root_path%><span class="divider">/</span></li>
    <%if can? :index, IphImage %>
      <li class="active"><%=link_to t(:index), iph_images_path %><span class="divider">/</span></li>
    <%end%>
    <%if can? :new, IphImage %>
      <li class="active"><%=link_to t(:new), new_iph_image_path%></li>
    <%end%>
  </ul>
<%end%>


<div class="row-fluid">
  <div class="block ">
    <a href="#client-info" class="block-heading" data-toggle="collapse"><%= t(:general_information) %></a>
    <div id="client-info" class="block-body collapse in show-details">
      <p>
        <b><%= t'.id' %>:</b>
        <%= @iph_image.id %>
      </p>
      <p>
        <b><%= t'.iph' %>:</b>
        <%= @iph_image.iph_id %>
      </p>
      <p>
        <b><%= t'.name' %>:</b>
        <%#=image_tag @iph_image.name.to_s%>
        <%= image_tag @iph_image.name %>
      </p>
    </div>
  </div>
</div>

<div class="form-actions">
  <%if can? :index, IphImage %>
    <%= link_to t(:back, :default => t('helpers.links.back')), iph_images_path, :class => 'btn' %>
  <%end%>
  <%if can? :edit, IphImage %>
    <%= link_to t(:edit, :default => t('helpers.links.edit')), edit_iph_image_path(@iph_image), :class => 'btn' %>
  <%end%>
  <%if can? :destroy, IphImage %>
    <%= link_to t(:destroy, :default => t("helpers.links.destroy")), iph_image_path(@iph_image),
      :method => 'delete',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>
  <%end%>
  <%if can? :new, IphImage %>
    <%= link_to t(:new, :default => t('helpers.links.edit')), new_iph_image_path, :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
</div>