<h2>Editar Registro</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "Correo electronico" %><br />
    <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label "Contrase単a" %> <i>(dejar en blanco si no se desea cambiar)</i><br />
    <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label "Confirmar contrase単a" %><br />
    <%= f.password_field :password_confirmation %></div>

  <div><%= f.label "Contrase単a actual" %> <i>(Se necesita tu contrase単a actual para confirmar tus cambios)</i><br />
    <%= f.password_field :current_password %></div>

  <div><%= f.submit "Actualizar", :class => 'btn btn-success' %></div>
<% end %>



<%= link_to "Regresar", :back, :class => 'btn btn-danger' %>
