<%content_for :breadcrumb do%>
<ul class="breadcrumb">
  <li><%=link_to t(:home), root_path%><span class="divider">/</span></li>
  <%if can? :index, Justice Net File %>
  <li class="active"><%=link_to t(:index), justice_net_files_path %><span class="divider">/</span></li>
  <%end%>
  <%if can? :new, Justice Net File %>
  <li class="active"><%=link_to t(:new), new_justice_net_file_path%></li>
  <%end%>
</ul>
<%end%>


<div class="row-fluid">
  <div class="block ">
    <a href="#client-info" class="block-heading" data-toggle="collapse"><%= t(:general_information) %></a>
    <div id="client-info" class="block-body collapse in show-details">
              <p>
          <b><%= t'.id' %>:</b>
          <%= @justice_net_file.id %>
        </p>
              <p>
          <b><%= t'.justice_net' %>:</b>
          <%= @justice_net_file.justice_net_id %>
        </p>
              <p>
          <b><%= t'.name' %>:</b>
          <%= @justice_net_file.name %>
        </p>
          </div>
  </div>
</div>

<div class="form-actions">
  <%if can? :index, Justice Net File %>
  <%= link_to t(:back, :default => t('helpers.links.back')), justice_net_files_path, :class => 'btn' %>
  <%end%>
  <%if can? :edit, Justice Net File %>
  <%= link_to t(:edit, :default => t('helpers.links.edit')), edit_justice_net_file_path(@justice_net_file), :class => 'btn' %>
  <%end%>
  <%if can? :destroy, Justice Net File %>
  <%= link_to t(:destroy, :default => t("helpers.links.destroy")), justice_net_file_path(@justice_net_file),
  :method => 'delete',
  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
  :class => 'btn btn-danger' %>
  <%end%>
  <%if can? :new, Justice Net File %>
  <%= link_to t(:new, :default => t('helpers.links.edit')), new_justice_net_file_path, :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
</div>