<div class="well">
  <table class="table table-bordered datatable" id="example">
    <thead>
    <tr>
      <th>
        Analista
      </th>
      <th>Zona</th>
      <th>Nombre</th>
      <% if params[:peventos].present? %>
          <th>
            Eventos
          </th>
      <% end %>

      <% if params[:peventos].present? && params[:ppersonas].present? %>
          <th>Total personas en eventos</th>
      <% end %>
      <% if params[:poficios].present? %>
          <th>
            Oficios
          </th>
      <% end %>

      <% if params[:poficios].present? && params[:ppersonas].present? %>
          <th>Total personas en oficios</th>
      <% end %>
      <% if params[:pcolaboraciones].present? %>
          <th>
            Colaboraciones
          </th>
      <% end %>

      <% if params[:pcolaboraciones].present? && params[:ppersonas].present? %>
          <th>Total personas en colaboraciones</th>
      <% end %>
      <% if params[:pjusticias].present? %>
          <th>
            Justicias
          </th>
      <% end %>
      <% if params[:pjusticias].present? && params[:ppersonas].present? %>
          <th>Total personas en justicias</th>
      <% end %>
      <% if params[:ppersonas].present? %>
          <th>
            Total de personas en el mes
          </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @r.each do |record| %>
        <% if record[:persons_total] > 0 %>
            <tr>
              <td>
                <%= record[:analyst_number] %>
              </td>
              <td>
                <%= record[:analyst_zone] %>
              </td>
              <td>
                <%= record[:analyst_name] %>
              </td>
              <% if params[:peventos].present? %>
                  <td>
                    <%= record[:total_events] %> <!-- total de eventos -->
                  </td>
              <% end %>
              <% if params[:peventos].present? && params[:ppersonas].present? %>
                  <td>
                    <%= record[:total_event_persons] %>
                  </td>
              <% end %>
              <% if params[:poficios].present? %>
                  <td>
                    <%= record[:total_offices] %> <!-- total de eventos -->
                  </td>
              <% end %>
              <% if params[:poficios].present? && params[:ppersonas].present? %>
                  <td>
                    <%= record[:total_office_persons] %>
                  </td>
              <% end %>
              <% if params[:pcolaboraciones].present? %>
                  <td>
                    <%= record[:total_colaborations] %> <!-- total de eventos -->
                  </td>
              <% end %>
              <% if params[:pcolaboraciones].present? && params[:ppersonas].present? %>
                  <td>
                    <%= record[:total_colaboration_person] %>
                  </td>
              <% end %>
              <% if params[:pjusticias].present? %>
                  <td>
                    <%= record[:total_justices] %> <!-- total de eventos -->
                  </td>
              <% end %>
              <% if params[:pjusticias].present? && params[:ppersonas].present? %>
                  <td>
                    <%= record[:total_person_justices] %>
                  </td>
              <% end %>
              <% if params[:ppersonas].present? %>
                  <td>
                    <%= record[:persons_total] %>
                  </td>
              <% end %>
            </tr>
        <% end %>
    <% end %>

    </tbody>
    <tfoot>
    <tr>
      <th>Total</th>
      <th>Zona</th>
      <th>Nombre</th>
      <% if params[:peventos].present? %>
          <th></th>
      <% end %>
      <% if params[:peventos].present? && params[:ppersonas].present? %>
          <th></th>
      <% end %>
      <% if params[:poficios].present? %>
          <th></th>
      <% end %>
      <% if params[:poficios].present? && params[:ppersonas].present? %>
          <th></th>
      <% end %>
      <% if params[:pcolaboraciones].present? %>
          <th></th>
      <% end %>
      <% if params[:pcolaboraciones].present? && params[:ppersonas].present? %>
          <th></th>
      <% end %>
      <% if params[:pjusticias].present? %>
          <th></th>
      <% end %>
      <% if params[:pjusticias].present? && params[:ppersonas].present? %>
          <th></th>
      <% end %>
      <% if params[:ppersonas].present? %>
          <th> </th>
      <% end %>
    </tr>
    </tfoot>

  </table>
</div>



<script>
    $('#example').dataTable({

        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;

            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '')*1 :
                                typeof i === 'number' ?
                        i : 0;
            };

            // Total over all pages
            totalEventos = api
                    .column( 5 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    } );
            totaloficios = api
                    .column( 6 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    } );
            totalColaboraciones = api
                    .column( 7 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    } );

            totalJusticias = api
                    .column( 8 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    } );

            totalPersonas = api
                    .column( 9 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    } );

            // Total over this page
            pageTotalEventos = api
                    .column( 5, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

            pageTotalOficios = api
                    .column( 6, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

            pageTotalColaboraciones = api
                    .column( 7, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

            pageTotalJusticias = api
                    .column( 8, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

            pageTotalPersonas = api
                    .column( 9, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );



            // Update footer
            $( api.column( 5 ).footer() ).html(
                            pageTotalEventos +' ( de un total de '+ totalEventos +')'
            );
            $( api.column( 6 ).footer() ).html(
                            pageTotalOficios +' ( de un total de '+ totaloficios +')'
            );
            $( api.column( 7 ).footer() ).html(
                            pageTotalColaboraciones +' ( de un total de '+ totalColaboraciones +')'
            );

            $( api.column( 8 ).footer() ).html(
                            pageTotalJusticias +' ( de un total de '+ totalJusticias +')'
            );
            $( api.column( 9 ).footer() ).html(
                            pageTotalPersonas +' ( de un total de '+ totalPersonas +')'
            );

        },
        "language": {
            "sUrl": "/assets/spanish.json"
        },
        "sDom": '<""lTf>t<"F"ip>',
        "sScrollX": "100%",
        "oTableTools": {
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copiar"
                },
                "xls",
                {
                    "sExtends": "pdf",
                    "sPdfOrientation": "landscape",
                    "sPdfMessage": "Estadisticas del  <%= I18n.l params[:start_date].to_date, :format => :long if params[:start_date]  %> al <%= I18n.l params[:end_date].to_date, :format => :long if params[:end_date]  %> "
                },
                {
                    "sExtends": "print",
                    "sButtonText": "Imprimir"
                }
            ]
        }
    })

</script>