<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), root_path%><span class="divider">/</span></li>
  </ul>
<%end%>

<div class="well">

  <div style="text-align: center">
    <%if can? :index, Event%>
      <%=link_to(image_tag("eventos.png",:size => "180x180", :alt=> "Eventos"),
        {:controller=>"events", :action=>"index"}, :title=>"Eventos", :class=>"btn btn-success") %>
    <%end%>
    <% if can? :index, Office %>
      <%=link_to(image_tag("oficios.png",:size => "180x180", :alt=> "Oficios"),
        {:controller=>"offices", :action=>"index"}, :title=>"Oficios", :class=>"btn btn-danger") %>
    <%end%>
    <%if can? :index, Colaboration %>
      <%=link_to(image_tag("colaboraciones.png",:size => "180x180", :alt=> "Colaboraciones"),
        {:controller=>"colaborations", :action=>"index"}, :title=>"Colaboraciones", :class=>"btn btn-primary") %>
    <%end%>


    <%#if can? :index, Iph%>
      <%#=link_to(image_tag("iph.png",:size => "180x180", :alt=> "Busquedas"),
        {:controller=>"iphs", :action=>"index"}, :title=>"Informe Policial Homologado", :class=>"btn") %>
    <%#end%>

    <%if can? :index, JusticeNet %>
      <%=link_to(image_tag("justicianet.png",:size => "180x180", :alt=> "Justici@.NET"),
        {:controller=>"justice_nets", :action=>"index"}, :title=>"Justici@.NET", :class=>"btn btn-inverse") %>
    <%end%>
    
    <%if can? :index, Search %>
      <%=link_to(image_tag("search.png",:size => "180x180", :alt=> "Busquedas"),
        {:controller=>"searches", :action=>"index"}, :title=>"Busquedas", :class=>"btn btn-warning") %>
    <%end%>


<%#=link_to(image_tag("taskicon.png",:size => "209x50", :alt=> "Eventos"),
{:controller=>"events", :action=>"index"}, :title=>"Eventos", :class=>"btn btn-danger") %>
  </div>
</div>