<%= form_for(@offices_attachment) do |f| %>
  <% if @offices_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offices_attachment.errors.count, "error") %> prohibited this offices_attachment from being saved:</h2>

      <ul>
        <% @offices_attachment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="block">
      <a href="#general-info" class="block-heading" data-toggle="collapse"><%= t(:general_information) %></a>
      <div id="general-info" class="block-body collapse in">
        <br />
        <div class="field">
          <%= f.label :attachment %><br />
          <%= f.file_field :attachment %>
        </div>
        <div class="field">
          <%= f.label :model %><br />
          <%= f.text_field :model %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%if can? :index, OfficesAttachment %>
      <%= link_to t(:back, :default => t('helpers.links.back')), offices_attachments_path, :class => 'btn' %>
    <%end%>
  </div>

<% end %>
