<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), root_path%><span class="divider">/</span></li>
    <%if can? :index, OfficesAttachment %>
      <li class="active"><%=link_to t(:index), offices_attachments_path %><span class="divider">/</span></li>
    <%end%>
    <%if can? :new, Offices Attachment %>
      <li class="active"><%=link_to t(:new), new_offices_attachment_path%></li>
    <%end%>
  </ul>
<%end%>


<div class="row-fluid">
  <div class="block ">
    <a href="#client-info" class="block-heading" data-toggle="collapse"><%= t(:general_information) %></a>
    <div id="client-info" class="block-body collapse in show-details">
      <p>
        <b><%= t'.id' %>:</b>
        <%= @offices_attachment.id %>
      </p>
      <p>
        <b><%= t'.attachment' %>:</b>
        <%= @offices_attachment.attachment %>
      </p>
      <p>
        <b><%= t'.model' %>:</b>
        <%= @offices_attachment.model %>
      </p>
    </div>
  </div>
</div>

<div class="form-actions">
  <%if can? :index, OfficesAttachment %>
    <%= link_to t(:back, :default => t('helpers.links.back')), offices_attachments_path, :class => 'btn' %>
  <%end%>
  <%if can? :edit, OfficesAttachment %>
    <%= link_to t(:edit, :default => t('helpers.links.edit')), edit_offices_attachment_path(@offices_attachment), :class => 'btn' %>
  <%end%>
  <%if can? :destroy, OfficesAttachment %>
    <%= link_to t(:destroy, :default => t("helpers.links.destroy")), offices_attachment_path(@offices_attachment),
      :method => 'delete',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>
  <%end%>
  <%if can? :new, OfficesAttachment %>
    <%= link_to t(:new, :default => t('helpers.links.edit')), new_offices_attachment_path, :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
</div>