<%= nested_form_for @iph, :html =>{:multipart => true } do |f| %>
  <% if @iph.errors.any? %>
    <div class="isa_error">
      Ah ocurrido un problema inesperado, favor de verificar los campos marcados.
    </div>
    <% @iph.errors.full_messages.each do |msg| %>
      <div class="isa_info">
        <%= msg %>
      </div>
    <% end %>
  <% end %>


  <div class="row-fluid">
    <div class="block">
      <a href="#iph-info" class="block-heading" data-toggle="collapse">Nuevo Informe Policial Homologado</a>
      <div id="iph-info" class="block-body collapse in">
        <br />

        <div class="field">
          <%= f.label :vialidad, "Vialidad" %>
          <%= f.check_box :vialidad %>
        </div>
        <div class="field">
          <%= f.label :investigadora, "Investigadora" %>
          <%= f.check_box :investigadora %>
        </div>
        <div class="field">
          <%= f.label :peup, "Policia Estatal Unica Preventiva" %>
          <%= f.check_box :peup %>
        </div>


        <div id="datetimepicker" class="input-append date">
          <%= f.label :iph_date, "Fecha" %><br />
          <%= f.text_field :iph_date, :readonly => true, :class => "add-on", :size => "26"%>
          <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
        </div>
        <div class="field">
          <%= f.label "Folio" %><br />
          <%= f.text_field :folio %>
        </div>
        <div class="field">
          <%= f.label "Numero de oficio" %><br />
          <%= f.text_field :office_number %>
        </div>
        
        <div class="field" id="vialidad">
          <%= f.label :iph_crime_id, "Delito Vialidad " %>
          <%= f.collection_select(:iph_crime_id, IphCrime.all, :id, :concept, {:prompt => "Seleccione Delito"}) %>
        </div>
        <div class="field" id="peup">
          <%= f.label :crime_id, "Delito " %>
          <%= f.collection_select(:crime_id, Crime.all, :id, :crime, {:prompt => "Seleccione Delito"}) %>
        </div>

        <div class="field">
          <%= f.label :description, "Descripción " %>
          <%= f.text_area :description %>
        </div>

  <%#*<div id="publica">%>
  <%#*<div class="field">%>
  <%#= f.label "Direccion" %>
  <%#= f.text_field :address %>
  <%#*</div>%>
  <%#*<div class="field">%>
  <%#= f.label "Colonia" %>
  <%#= f.text_field :suburb %>
  <%#*</div>%>
  <%#*<div class="field">%>
  <%#= f.label "Localidad" %>
  <%#= f.collection_select(:locality_id, Locality.all, :id, :locality, {:prompt => "Seleccione Localidad"}) %>
  <%#*</div>%>
  <%#*</div>%>
        <div class="field">
          <%= f.label "Estado" %><br />
          <%= f.text_field :state, :readonly =>true, :value =>"CHIHUAHUA" %>
        </div>
  <%#*<div class="field" id="tramo">%>
  <%#= f.label "Tramo carretero" %>
  <%#= f.text_field :tramo_carretero %>
  <%#*</div>%>
  <%#*<div class="field">%>
  <%#= f.label "Descripción de los hechos" %>
  <%#= f.text_area :description %>
  <%#*</div>%>
        <div class="form-actions">
          <p>
            <%=f.fields_for :iph_person do |builder| %>
              <%= render 'iph_person_fields', :f => builder %>
            <%end%>
          </p>
          <%= f.link_to_add " Persona", :iph_person, :class => "btn btn-primary icon-plus " %>
        </div>

  <%#*<div class="form-actions">%>
  <%#*<p>%>
  <%#=f.fields_for :iph_drugs do |builder| %>
  <%#= render 'iph_drugs', :f => builder %>
  <%#end%>
  <%#*</p>%>
  <%#= f.link_to_add " Droga", :iph_drugs, :class => "btn btn-primary icon-plus " %>
  <%#*</div>%>

  <%#*<div class="form-actions">%>
  <%#*<p>%>
  <%#=f.fields_for :iph_objects do |builder| %>
  <%#= render 'iph_objects_fields', :f => builder %>
  <%#end%>
  <%#*</p>%>
  <%#= f.link_to_add " Objeto", :iph_objects, :class => "btn btn-primary icon-plus " %>
  <%#*</div>%>

  <%#*<div class="form-actions">%>
  <%#*<p>%>
  <%#=f.fields_for :iph_vehicles do |builder| %>
  <%#= render 'iph_vehicle', :f => builder %>
  <%#end%>
  <%#*</p>%>
  <%#= f.link_to_add " Vehiculo", :iph_vehicles, :class => "btn btn-primary icon-plus " %>
  <%#*</div>%>

  <%#*<div class="form-actions">%>
  <%#*<p>%>
  <%#=f.fields_for :iph_weapons do |builder| %>
  <%#= render 'iph_weapons_fields', :f => builder %>
  <%#end%>
  <%#*</p>%>
  <%#= f.link_to_add " Arma", :iph_weapons, :class => "btn btn-primary icon-plus " %>
  <%#*</div>%>

  <%#=form_for IphImage.new, multipart: true do |d|%>
  <%#=d.label "Imagen"%>
  <%#=  d.file_field :name, multiple: true%>
  <%#=d.hidden_field :value => @iph.id%>
  <%#end%>

  <%#*<div class="form-actions">%>
  <%#*<p>%>

  <%#= render 'images_fields', :f => f %>
  <%#*</p>%>
  <%#*</div>%>


        <div class="field">
          <%= f.label "Observaciones" %><br />
          <%= f.text_area :observations %>
        </div>

      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary'%>
    <%if can? :index, Iph %>
      <%= link_to t(:back, :default => t('helpers.links.back')), iphs_path, :class => 'btn btn-danger' %>
    <%end%>
  </div>

<% end %>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
</script> 
<script type="text/javascript"
        src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
</script>
<script type="text/javascript"
        src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
</script>

<script type="text/javascript">
  ;
  (function($) {
    $.fn.datetimepicker.dates['es'] = {
      days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
      daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
      daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
      months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
      today: "Hoy"
    };
  }(jQuery));

  $('#datetimepicker').datetimepicker({
    format: 'dd/MM/yyyy hh:mm:ss',
    language: 'es'
  });
  
  <%#*$(document).ready(function (){%>
    $('#vialidad').fadeOut(0);
    $('#peup').fadeOut(0);
  <%#*});%>
  
  $('#iph_vialidad').click(function() {
    if (this.checked) {
      $('#iph_peup').attr("checked", false);
      $('#iph_investigadora').attr("checked", false);
      $('#vialidad').fadeIn(0);
      $('#peup').fadeOut(0);
    }
  });
  $('#iph_peup').click(function() {
    if (this.checked) {
      $('#iph_vialidad').attr("checked", false);
      $('#iph_investigadora').attr("checked", false);
       $('#peup').fadeIn(0);
       $('#vialidad').fadeOut(0);
    }
  });
  $('#iph_investigadora').click(function() {
    if (this.checked) {
      $('#iph_peup').attr("checked", false);
      $('#iph_vialidad').attr("checked", false);
       $('#peup').fadeIn(0);
       $('#vialidad').fadeOut(0);
    }
  });



</script>

