<div class="row-fluid">
  <div class="block ">
    <a href="#weapon-info" class="block-heading" data-toggle="collapse">Registro de armas</a>
    <div id="weapon-info" class="block-body-interior interior collapse in">
      <br />

      <div class="field">
        <%= f.label "Marca" %><br />
        <%= f.text_field :brand %>
      </div>
      <div class="field">
        <%= f.label "Modelo"  %><br />
        <%= f.text_field :model %>
      </div>
      <div class="field">
        <%= f.label "Numero de serie" %><br />
        <%= f.text_field :serial_number %>
      </div>
      <div class="field">
        <%= f.label "Calibre" %><br />
        <%= f.text_field :caliber %>
      </div>
      <div class="field">
        <%= f.label "Tipo" %><br />
        <%= f.collection_select(:weapon_type_id, WeaponType.all, :id, :desc, {:prompt => "seleccione tipo de arma"}) %>
      </div>
    </div>
  </div>
</div>

<div class="form-actions">
  <%=f.link_to_remove "Remover Arma", :class => "btn btn-danger"%>
</div>