<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), root_path%><span class="divider">/</span></li>
    <%if can? :index, Iph %>
      <li class="active"><%=link_to t(:index), iphs_path %><span class="divider">/</span></li>
    <%end%>
    <%if can? :new, Iph %>
      <li class="active"><%=link_to t(:new), new_iph_path%></li>
    <%end%>
  </ul>
<%end%>


<div class="row-fluid">
  <div class="block ">
    <a href="#iph-info" class="block-heading" data-toggle="collapse">Informe Policial Homologado <%= @iph.id %></a>
    <div id="iph-info" class="block-body collapse in show-details">


      <p>
        <b><%= t'.iph_date' %>:</b>
        <%= I18n.l @iph.iph_date, :format => "%d de %B del %Y a las %H:%M hrs" %>
      </p>




      <p>
        <b><%= "Corporaci贸n" %>:</b>
        <% if @iph.vialidad %>
          Vialidad
        <% elsif @iph.investigadora %>
          Investigadora
        <% elsif @iph.peup %>
          Policia Estatal Unica Preventiva      
        <%end%>
      </p>

      <p>
        <b> Delito:</b>
        <%if @iph.iph_crime %>  
        <%= @iph.iph_crime.concept %>
        <%elsif @iph.crime %>
        <%= @iph.crime.crime %>
        <%end %>
      </p>

      <p>
        <b><%= t'.folio' %>:</b>
        <%= @iph.folio %>
      </p>
      <p>
        <b><%= t'.office_number' %>:</b>
        <%= @iph.office_number %>
      </p>
      <p>
        <b><%= t'.description' %>:</b>
        <%= @iph.description %>
      </p>
      <p>
        <b><%= t'.state' %>:</b>
        <%= @iph.state%>
      </p>
      <%if @iph.iph_person.where(:status_id=>10001).count >0 %>
        <div class="block">
          <a href="#victims" class="block-heading" data-toggle="collapse"><%= pluralize(@iph.iph_person.where(:status_id=>10001).count, "Victima") %></a>
          <div id="victims" class="block-body collapse">
            <div class="control-group">
              <%@iph.iph_person.where(:status_id => 10001).each do |person|%>
                <ul class="inline">
                  <li><i class="icon-male"> </i> </i> <%=person.fullname.upcase %></li><%if person.last_name2?%> <%= person.last_name2.upcase %> <%end%>
                  <ul>
                    <% if iph_person.observations?%>
                      <li><i class="icon-"> </i> Obervaciones: <%=  person.observations.upcase %></li>
                    <%end%>
                    <% if person.ci?%>
                      <li><i class="icon-"> </i> Carpeta de investigaci贸n:  <%=  person.ci.upcase %></li>
                    <%end%>
                    <% if person.alias?%>
                      <li><i class="icon-"> </i> Alias:  <%=  person.alias.upcase %></li>
                    <%end%>
                    <% if person.birth_date%>
                      <li><i class="icon-"> </i> Fecha de nacimiento:  <%=  person.birth_date.strftime('%d/%m/%Y') %></li>
                    <%end%>
                    <% if person.genre?%>
                      <li><i class="icon-"> </i>  Genero: <%=  person.genre.upcase %></li>
                    <%end%>
                    <% if person.status_id%>
                      <li><i class="icon-"> </i> Estatus:  <%=  person.status.description.upcase %></li>
                    <%end%>
                  </ul>
                </ul>
              <%end%>
            </div>
          </div>
        </div>
      <%end%>

      <%if @iph.iph_person.where(:status_id=>10000).count>0%>
        <div class="block">
          <a href="#detained" class="block-heading" data-toggle="collapse"><%= pluralize(@iph.iph_person.where(:status_id=>10000).count, "Detenido") %></a>
          <div id="detained" class="block-body collapse">
            <div class="control-group">
              <%@iph.iph_person.where(:status_id => 10000).each do |person|%>
                <ul>
                  <li><i class="icon-male"> </i> </i> <%=person.fullname.upcase %></li><%if person.last_name2?%> <%= person.last_name2.upcase %> <%end%>
                  <%if person.observations%>
                    <ul>
                      <% if person.observations?%>
                        <li><i class="icon-"> </i> Obervaciones: <%=  person.observations.upcase %></li>
                      <%end%>
                      <% if person.ci?%>
                        <li><i class="icon-"> </i> Carpeta de investigaci贸n:  <%=  person.ci.upcase %></li>
                      <%end%>
                      <% if person.alias?%>
                        <li><i class="icon-"> </i> Alias:  <%=  person.alias.upcase %></li>
                      <%end%>
                      <% if person.birth_date%>
                        <li><i class="icon-"> </i> Fecha de nacimiento:  <%=  person.birth_date.strftime('%d/%m/%Y') %></li>
                      <%end%>
                      <% if person.genre?%>
                        <li><i class="icon-"> </i>  Genero: <%=  person.genre.upcase %></li>
                      <%end%>
                      <% if person.status_id%>
                        <li><i class="icon-"> </i> Estatus:  <%=  person.status.description.upcase %></li>
                      <%end%>
                    </ul>
                  <%end%>
                </ul>
              <%end%>
            </div>
          </div>
        </div>
      <%end%>

      <%if @iph.iph_person.where(:status_id=>10002).count > 0%>
        <div class="block">
          <a href="#suspects" class="block-heading" data-toggle="collapse"><%= pluralize(@iph.iph_person.where(:status_id=>10002).count, "Sospechoso") %></a>
          <div id="suspects" class="block-body collapse">
            <div class="control-group">
              <%@iph.iph_person.where(:status_id => 10002).each do |person|%>
                <ul class="inline">
                  <li><i class="icon-male"> </i> </i> <%=person.fullname.upcase %></li><%if person.last_name2?%> <%= person.last_name2.upcase %> <%end%>
                  <ul>
                    <ul>
                      <% if person.observations?%>
                        <li><i class="icon-"> </i> Obervaciones: <%=  person.observations.upcase %></li>
                      <%end%>
                      <% if person.ci?%>
                        <li><i class="icon-"> </i> Carpeta de investigaci贸n:  <%=  person.ci.upcase %></li>
                      <%end%>
                      <% if person.alias?%>
                        <li><i class="icon-"> </i> Alias:  <%=  person.alias.upcase %></li>
                      <%end%>
                      <% if person.birth_date%>
                        <li><i class="icon-"> </i> Fecha de nacimiento:  <%=  person.birth_date.strftime('%d/%m/%Y') %></li>
                      <%end%>
                      <% if person.genre?%>
                        <li><i class="icon-"> </i>  Genero: <%=  person.genre.upcase %></li>
                      <%end%>
                      <% if person.status_id%>
                        <li><i class="icon-"> </i> Estatus:  <%=  person.status.description.upcase %></li>
                      <%end%>
                    </ul>
                  </ul>
                <%end%>
            </div>
          </div>
        </div>
      <%end%>




      <p>
        <b><%= t'.observations' %>:</b>
        <%= @iph.observations %>
      </p>
      <p>
        <b><%= t'.user' %>:</b>
        <%= @iph.user.username%>
      </p>
    </div>
  </div>
</div>

<div class="form-actions">
  <%if can? :index, Iph %>
    <%= link_to t(:back, :default => t('helpers.links.back')), iphs_path, :class => 'btn' %>
  <%end%>
  <%if can? :edit, Iph %>
    <%= link_to t(:edit, :default => t('helpers.links.edit')), edit_iph_path(@iph), :class => 'btn' %>
  <%end%>
  <%if can? :destroy, Iph %>
    <%= link_to t(:destroy, :default => t("helpers.links.destroy")), iph_path(@iph),
      :method => 'delete',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>
  <%end%>
  <%if can? :new, Iph %>
    <%= link_to t(:new, :default => t('helpers.links.edit')), new_iph_path, :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
</div>