<%content_for :breadcrumb do%>
<ul class="breadcrumb">
  <li><%=link_to t(:home), root_path%><span class="divider">/</span></li>
  <%if can? :index, Iph Object %>
  <li class="active"><%=link_to t(:index), iph_objects_path %><span class="divider">/</span></li>
  <%end%>
  <%if can? :new, Iph Object %>
  <li class="active"><%=link_to t(:new), new_iph_object_path%></li>
  <%end%>
</ul>
<%end%>


<div class="row-fluid">
  <div class="block ">
    <a href="#client-info" class="block-heading" data-toggle="collapse"><%= t(:general_information) %></a>
    <div id="client-info" class="block-body collapse in show-details">
              <p>
          <b><%= t'.id' %>:</b>
          <%= @iph_object.id %>
        </p>
              <p>
          <b><%= t'.amount' %>:</b>
          <%= @iph_object.amount %>
        </p>
              <p>
          <b><%= t'.object' %>:</b>
          <%= @iph_object.object %>
        </p>
              <p>
          <b><%= t'.description' %>:</b>
          <%= @iph_object.description %>
        </p>
          </div>
  </div>
</div>

<div class="form-actions">
  <%if can? :index, Iph Object %>
  <%= link_to t(:back, :default => t('helpers.links.back')), iph_objects_path, :class => 'btn' %>
  <%end%>
  <%if can? :edit, Iph Object %>
  <%= link_to t(:edit, :default => t('helpers.links.edit')), edit_iph_object_path(@iph_object), :class => 'btn' %>
  <%end%>
  <%if can? :destroy, Iph Object %>
  <%= link_to t(:destroy, :default => t("helpers.links.destroy")), iph_object_path(@iph_object),
  :method => 'delete',
  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
  :class => 'btn btn-danger' %>
  <%end%>
  <%if can? :new, Iph Object %>
  <%= link_to t(:new, :default => t('helpers.links.edit')), new_iph_object_path, :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
</div>