<%= form_for(@historical_archive) do |f| %>
<% if @historical_archive.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@historical_archive.errors.count, "error") %> prohibited this historical_archive from being saved:</h2>

  <ul>
    <% @historical_archive.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row-fluid">
  <div class="block">
    <a href="#general-info" class="block-heading" data-toggle="collapse"><%= t(:general_information) %></a>
    <div id="general-info" class="block-body collapse in">
      <br />
              <div class="field">
          <%= f.label :route %><br />
          <%= f.text_field :route %>
        </div>
              <div class="field">
          <%= f.label :content %><br />
          <%= f.text_area :content %>
        </div>
          </div>
  </div>
</div>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%if can? :index, Historical Archive %>
  <%= link_to t(:back, :default => t('helpers.links.back')), historical_archives_path, :class => 'btn' %>
  <%end%>
</div>

<% end %>
