<%content_for :breadcrumb do%>
<ul class="breadcrumb">
  <li><%=link_to t(:home), root_path%><span class="divider">/</span></li>
  <%if can? :index, Helpdesk Screenshot %>
  <li class="active"><%=link_to t(:index), helpdesk_screenshots_path %><span class="divider">/</span></li>
  <%end%>
  <%if can? :new, Helpdesk Screenshot %>
  <li class="active"><%=link_to t(:new), new_helpdesk_screenshot_path%></li>
  <%end%>
</ul>
<%end%>


<div class="well">
  <table class="table">
    <thead>
      <tr>
                  <th><%= t'.analyst' %></th>
                  <th><%= t'.analyst_number' %></th>
                  <th><%= t'.helpdesk' %></th>
                  <th><%= t'.screenshot' %></th>
                  <th><%= t'.screenshot_content_type' %></th>
                  <th><%= t'.visible' %></th>
                <th><%= t(:actions) %></th>
      </tr>
    </thead>
    <tbody>
      <% @helpdesk_screenshots.each do |helpdesk_screenshot| %>
      <tr>
                  <td><%= helpdesk_screenshot.analyst_id %></td>
                  <td><%= helpdesk_screenshot.analyst_number %></td>
                  <td><%= helpdesk_screenshot.helpdesk_id %></td>
                  <td><%= helpdesk_screenshot.screenshot %></td>
                  <td><%= helpdesk_screenshot.screenshot_content_type %></td>
                  <td><%= helpdesk_screenshot.visible %></td>
                <td>         
          <ul class="nav nav-pills">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu">
                <li>
                  <%if can? :show, Helpdesk Screenshot %>
                  <%= link_to helpdesk_screenshot do %>
                  <i class="icon-eye-open"></i>&nbsp;&nbsp;<%=t(:show, :default => t("helpers.links.show"))%> 
                  <%end%>
                </li>
                <%end%>
                <%if can? :edit, Helpdesk Screenshot %>
                <li>
                  <%= link_to edit_helpdesk_screenshot_path(helpdesk_screenshot) do %>
                  <i class="icon-pencil"></i>&nbsp;&nbsp;<%=t(:edit, :default => t("helpers.links.edit"))%>
                  <%end%>
                </li>
                <%end%>
                <%if can? :destroy, Helpdesk Screenshot %>
                <li>
                  <%= link_to  helpdesk_screenshot, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                  <i class="icon-trash"></i>&nbsp;&nbsp;<%=t(:destroy, :default => t("helpers.links.destroy"))%>
                  <%end%>
                </li>
                <%end%>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />
<%=link_to t(:new)+" helpdesk_screenshot", new_helpdesk_screenshot_path, :class => "btn btn-primary"%>

