<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @colaboration_area.id %>
</p>

<p>
  <b>Area:</b>
  <%= @colaboration_area.area %>
</p>


<%= link_to 'Edit', edit_colaboration_area_path(@colaboration_area) %> |
<%= link_to 'Back', colaboration_areas_path %>
