<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), root_path%><span class="divider">/</span></li>
    <li class="active"><%=link_to t(:index), error_reports_path%><span class="divider">/</span></li>
    <li class="active"><%=link_to t(:new), new_error_report_path%></li>
  </ul>
<%end%>

<div class="row-fluid">
  <div class="block span6">
    <a href="#users" class="block-heading" data-toggle="collapse"><%=t(:general_info)%></a>
    <div id="users" class="block-body collapse in">

      <p>
        <b><%= t('.user') %></b>
        <%= @error_report.user %>
      </p>

      <p>
        <b><%= t('.line_number') %></b>
        <%= @error_report.line_number %>
      </p>

      <p>
        <b><%= t('.controller_name') %></b>
        <%= @error_report.controller_name %>
      </p>

      <p>
        <b><%= t('.action_name') %></b>
        <%= @error_report.action_name %>
      </p>

      <p>
        <b><%= t('.description') %></b>
        <%= @error_report.description %>
      </p>

      <p>
        <b><%= t('.referer_url') %></b>
        <%= @error_report.referrer_url %>
      </p>

      <p>
        <b><%= t('.original_path') %></b>
        <%= @error_report.original_path %>
      </p>


      <p>
        <b><%= t('.environment') %></b>
        <%= @error_report.environment %>
      </p>

      <p>
        <b><%= t('.other') %></b>
        <%= time_ago_in_words @error_report.error_time %>
      </p>
    </div>
  </div>
  <div class="block span6">
    <a href="#backtrace" class="block-heading" data-toggle="collapse"><%=t(:backtrace)%></a>
    <div id="backtrace" class="block-body collapse in">
      <%= @error_report.backtrace %>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= link_to t(:back, :default => t("helpers.links.back")),
    error_reports_path, :class => 'btn'  %>
  <%if can? :edit, ErrorReport%>
    <%= link_to t(:edit, :default => t("helpers.links.edit")),
      edit_error_report_path(@error_report), :class => 'btn' %>
  <%end%>
  <%= link_to t(:destroy, :default => t("helpers.links.destroy")),
    error_report_path(@error_report),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
  <%= link_to t(:new, :default => t("helpers.links.new")),
    new_error_report_path,
    :class => 'btn btn-primary', :title => t(:new) %>
</div>
