<%= form_for(@unit) do |f| %>
<% if @unit.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

  <ul>
    <% @unit.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row-fluid">
  <div class="block">
    <a href="#general-info" class="block-heading" data-toggle="collapse"><%= t(:general_information) %></a>
    <div id="general-info" class="block-body collapse in">
      <br />
              <div class="field">
          <%= f.label :id %><br />
          <%= f.number_field :id %>
        </div>
              <div class="field">
          <%= f.label :description %><br />
          <%= f.text_field :description %>
        </div>
          </div>
  </div>
</div>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%if can? :index, Unit %>
  <%= link_to t(:back, :default => t('helpers.links.back')), units_path, :class => 'btn' %>
  <%end%>
</div>

<% end %>
