<%content_for :breadcrumb do%>
<ul class="breadcrumb">
  <li><%=link_to t(:home), root_path%><span class="divider">/</span></li>
  <%if can? :index, Unit %>
  <li class="active"><%=link_to t(:index), units_path %><span class="divider">/</span></li>
  <%end%>
  <%if can? :new, Unit %>
  <li class="active"><%=link_to t(:new), new_unit_path%></li>
  <%end%>
</ul>
<%end%>


<div class="well">
  <table class="table">
    <thead>
      <tr>
                  <th><%= t'.id' %></th>
                  <th><%= t'.description' %></th>
                <th><%= t(:actions) %></th>
      </tr>
    </thead>
    <tbody>
      <% @units.each do |unit| %>
      <tr>
                  <td><%= unit.id %></td>
                  <td><%= unit.description %></td>
                <td>         
          <ul class="nav nav-pills">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu">
                <li>
                  <%if can? :show, Unit %>
                  <%= link_to unit do %>
                  <i class="icon-eye-open"></i>&nbsp;&nbsp;<%=t(:show, :default => t("helpers.links.show"))%> 
                  <%end%>
                </li>
                <%end%>
                <%if can? :edit, Unit %>
                <li>
                  <%= link_to edit_unit_path(unit) do %>
                  <i class="icon-pencil"></i>&nbsp;&nbsp;<%=t(:edit, :default => t("helpers.links.edit"))%>
                  <%end%>
                </li>
                <%end%>
                <%if can? :destroy, Unit %>
                <li>
                  <%= link_to  unit, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                  <i class="icon-trash"></i>&nbsp;&nbsp;<%=t(:destroy, :default => t("helpers.links.destroy"))%>
                  <%end%>
                </li>
                <%end%>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />
<%=link_to t(:new)+" unit", new_unit_path, :class => "btn btn-primary"%>

