<% asignado = Status.find_by_description_and_status_type("ASIGNADO", "Colaboracion").id %>
<% terminado = Status.find_by_description_and_status_type("TERMINADO", "Colaboracion").id %>
<% enviado = Status.find_by_description_and_status_type("ENVIADO", "Colaboracion").id %>



<%if (current_user.role.ie_supervisor) || (current_user.role.super_admin ==true)|| (current_user.role.super_supervisor ==true )%>
  <p class="stat"><span class="number"><%= Office.where("analyst_id is null and status_id != ?", enviado).count %></span><%=link_to "Sin Asignar  ", offices_path %></p>
  <p class="stat"><span class="number"><%= Office.where("status_id = ?", asignado).count %></span><%=link_to "Asignados ", offices_path %></p>
  <p class="stat"><span class="number"><%= Office.where("analyst_id = ''").count %></span><%=link_to "Terminados ", offices_path %></p>
  <p class="stat"><span class="number"><%= Office.where("analyst_id = ''").count %></span><%=link_to "Aprovados ", offices_path %></p>
  <p class="stat"><span class="number"><%= Office.where("analyst_id = ''").count %></span><%=link_to "contestados ", offices_path %></p>
<% end  %>